<%- include('partials/header') -%>

    <h1>Home</h1>

    <%= homeStartingContent %>

    <div class="box">
        <% items.forEach(function(post) { %>
            
            
                <h1> <%= post.name %></h1>
                <p style="width: 50%; overflow: hidden; text-overflow: ellipsis"><%= post.content %></p>
                <a href="/post/<%= post.name %>">Read More</a>

                <% }) %>

    
    </div>
<%- include('partials/footer') -%>